* {
  color: #555555;
  /*font-size: 12px;*/
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.section {
  padding: 10px 40px;
  text-align: center;
}

#remove-all-saved {
  background-color: #F44336;
  border: 3px solid #f44336;
  color: white;
  cursor: pointer;
}

#remove-all-saved:hover {
  background-color: #e57373;
}

#remove-all-saved * {
  color: inherit;
}

#remove-all-saved > .tabswrapper {
  padding: 0px;
}

.favicon {
  height: 15px;
  margin: 1px;
  color: #673AB7;
}

.window {
  display: flex;
  background-color: #ddd;
}

.tabswrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.savewinbtn, .delwinbtn, .openwinbtn {
  padding: 7px;
  color: white;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.savewinbtn { background-color: #4caf50; border-color: #4caf50; }
.delwinbtn { background-color: #f44336; border-color: #f44336; }
.openwinbtn { background-color: #673ab7; border-color: #673ab7; }

.savewinbtn:hover { background-color: #81C784; }
.delwinbtn:hover { background-color: #E57373; }
.openwinbtn:hover { background-color: #9575CD; }

.addsep {
  border-bottom: 2px solid #ccc;
}