* {
  font-family: "Roboto Slab", "serif";
  padding: 0px;
  margin: 0px;
}

html {
  /* background-color: #E8EAF6; */
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

#wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#header {
  font-size: 150%;
  padding: .5em;
  height: 2em;
  display: flex;
  align-items: center;
  border-bottom: 2px dashed #3F51B5;
  box-shadow: 0px 3px 5px 0px rgba(63,81,181,.5);
  cursor: pointer;
  background-color: #fff;
  color: #3f51b5;
  position: sticky;
  top: 0px;
  margin-bottom: 15px;
  z-index: 99;
}

#header > #icon {
  height: 1.5em;
  margin-right: .5em;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in-button {
  height: 50px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.buttonContentWrapper {
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
  cursor: pointer;
}
.buttonContentWrapper:hover {
  box-shadow: 0px 0px 3px 3px rgba(63,81,181,.5);
}
.buttonContentWrapper .buttonIcon {
  padding: 15px;
}
.buttonContentWrapper .svgButtonIcon {
  width: 18px;
  height: 18px;
}
.buttonContentWrapper .buttonContents {
  color: #757575;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContentWrapper .buttonContents > * {
  text-align: center;
}

.single-window {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
  min-height: 50px;
  justify-content: center;
  align-items: stretch;
}
.overview:hover {
  box-shadow: 0px 0px 3px 3px rgba(63,81,181,.5);
}
.overview {
  display: flex;
  flex-direction: row;
}
.tabs-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.favicon {
  width: 30px;
  height: 30px;
  margin: 1px;
  color: #673AB7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions-group {
  display: flex;
  align-items: stretch;
}
.action {
  padding: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  flex-grow: 1;
}
.action.fa-times { background-color: #F44336; }
.action.fa-times:hover { background-color: #E57373; }
.action.fa-window-restore { background-color: #3f51b5; }
.action.fa-window-restore:hover { background-color: #7986CB; }
@media screen and (max-width: 500px) {
  .overview {
    flex-direction: column;
  }
}

.tab-list {
  transition: all .3s;
}
.hide-tab-list {
  z-index: -1;
  transform: translateY(-50%);
  max-height: 0;
  opacity: 0;
}
.show-tab-list {
  z-index: 0;
  transform: translateY(0);
  max-height: auto;
  opacity: 1;
}
.single-tab-detail {
  display: flex;
  align-items: center;
  color: #757575;
}
.single-tab-detail img {
  margin: 0px 10px;
}
.single-tab-url {
  flex-grow: 1;
  overflow: scroll;
  white-space: nowrap;
}
.single-tab-detail .fa-external-link {
  cursor: pointer;
  padding: 20px;
  margin-left: 10px;
}
.single-tab-detail .fa-external-link { color: white; background-color: #4caf50; }
.single-tab-detail .fa-external-link:hover { background-color: #81C784; }